Repository aws-amplify/amplify-swift, pull requests merged in 2019-12, with the labels that each got.

#226 Unit tests for ReconcileAndLocalSaveOperationTests
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/ReconcileAndLocalSaveOperationTests.swift
Labels: DataStore

#233 Update logging to use Amplify.API.log
  AmplifyPlugins/API/AWSAPICategoryPlugin/Interceptor/SubscriptionInterceptor/APIKeyAuthInterceptor.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Interceptor/SubscriptionInterceptor/AppSyncSubscriptionInterceptor.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Interceptor/SubscriptionInterceptor/CognitoUserPoolsAuthInterceptor.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Interceptor/SubscriptionInterceptor/IAMAuthInterceptor.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Subscription/ConnectionProvider/AppSyncConnectionProvider+EventHandler.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Subscription/ConnectionProvider/AppSyncConnectionProvider.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Subscription/SubscriptionConnection/AppSyncSubscriptionConnection+EventHandler.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Subscription/SubscriptionConnection/AppSyncSubscriptionConnection.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Subscription/Websocket/StarscreamWebsocketProvider+WebsocketDelegate.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Subscription/Websocket/StarscreamWebsocketProvider.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Support/Utils/AppSyncJSONHelper.swift
Labels: API

#231 Adding unit tests for AWSMutationDatabaseAdapterTests
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/AWSMutationDatabaseAdapterTests.swift
  AmplifyPlugins/DataStore/DataStoreCategoryPlugin.xcodeproj/project.pbxproj
Labels: DataStore

#243 Fix delete merging
  Amplify.xcodeproj/project.pbxproj
  Amplify/Core/Support/AsychronousOperation.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/AWSDataStorePlugin.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/SQLite/Model+SQLite.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/SQLite/StorageEngineAdapter+SQLite.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/StorageEngine.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/InitialSync/InitialSyncOperation.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/InitialSync/InitialSyncOrchestrator.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/MutationSync/MutationEvent/AWSMutationEventPublisher.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/MutationSync/MutationEvent/MutationEventPublisher.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/MutationSync/OutgoingMutationQueue/SyncMutationToCloudOperation.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/RemoteSyncEngine.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/AWSIncomingEventReconciliationQueue.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/AWSIncomingSubscriptionEventPublisher.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/IncomingAsyncSubscriptionEventToAnyModelMapper.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/IncomingSubscriptionEventPublisher.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/ReconcileAndLocalSave/AWSModelReconciliationQueue.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/ReconcileAndLocalSave/ReconcileAndLocalSaveOperation+Action.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/ReconcileAndLocalSave/ReconcileAndLocalSaveOperation+State.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/ReconcileAndLocalSave/ReconcileAndLocalSaveOperation.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/ReconcileAndLocalSave/RemoteSyncReconciler.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/Support/DataStoreError+Plugin.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/Support/ModelGraphs.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/DataStoreEndToEndTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/SubscriptionEndToEndTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/TestSupport/SyncEngineIntegrationTestBase.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Core/ModelGraphsTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Core/SQLiteStorageEngineAdapterTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Core/SortByDependencyOrderTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/LocalSubscriptionTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/MutationQueue/OutgoingMutationQueueTestsWithMockStateMachine.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/RemoteSync/RemoteSyncAPIInvocationTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/RemoteSync/RemoteSyncReconcilerTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/ModelReconciliationDeleteTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/ModelReconciliationQueueBehaviorTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/ReconcileAndLocalSaveOperationTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/RemoteSyncReconcilerTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/Support/EquatableExtensions.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/Support/MockSQLiteStorageEngineAdapter.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/Support/MockSQLiteStorageEngineAdapterResponders.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/Support/ReconciliationQueueTestBase.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/TestSupport/Foundation+TestExtensions.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/TestSupport/Mocks/NoOpInitialSyncOrchestrator.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/TestSupport/SyncEngineTestBase.swift
  AmplifyPlugins/DataStore/DataStoreCategoryPlugin.xcodeproj/project.pbxproj
  AmplifyTestCommon/Mocks/MockAPICategoryPlugin.swift
  AmplifyTestCommon/Mocks/MockAPIResponders.swift
  AmplifyTestCommon/Mocks/MockResponder.swift
  AmplifyTests/CategoryTests/API/APICategoryConfigurationTests.swift
  AmplifyTests/CategoryTests/Analytics/AnalyticsCategoryConfigurationTests.swift
  AmplifyTests/CategoryTests/DataStore/DataStoreCategoryConfigurationTests.swift
  AmplifyTests/CategoryTests/Hub/HubCategoryConfigurationTests.swift
  AmplifyTests/CategoryTests/Logging/LoggingCategoryConfigurationTests.swift
  AmplifyTests/CategoryTests/Predictions/PredictionsCategoryConfigurationTests.swift
  AmplifyTests/CategoryTests/Storage/StorageCategoryConfigurationTests.swift
Labels: DataStore

#249 Convert Amplify.API to protocol
  Amplify.xcodeproj/project.pbxproj
  Amplify/Amplify.swift
  Amplify/Categories/API/APICategory.swift
  Amplify/Categories/API/AmplifyAPICategory+APICategory.swift
  Amplify/Categories/API/AmplifyAPICategory.swift
  Amplify/Categories/API/ClientBehavior/APICategoryGraphQLBehavior.swift
  Amplify/Categories/API/ClientBehavior/AmplifyAPICategory+GraphQLBehavior.swift
  Amplify/Categories/API/ClientBehavior/AmplifyAPICategory+InterceptorBehavior.swift
  Amplify/Categories/API/ClientBehavior/AmplifyAPICategory+RESTBehavior.swift
  Amplify/Categories/API/Internal/APICategory+CategoryConfigurable.swift
  Amplify/Categories/API/Internal/APICategory+Resettable.swift
  Amplify/Categories/Analytics/Internal/AnalyticsCategory+CategoryConfigurable.swift
  Amplify/Categories/Analytics/Internal/AnalyticsCategory+Resettable.swift
  Amplify/Categories/DataStore/Internal/DataStoreCategory+Configurable.swift
  Amplify/Categories/DataStore/Internal/DataStoreCategory+Resettable.swift
  Amplify/Categories/Hub/Internal/HubCategory+CategoryConfigurable.swift
  Amplify/Categories/Hub/Internal/HubCategory+Resettable.swift
  Amplify/Categories/Logging/Internal/LoggingCategory+CategoryConfigurable.swift
  Amplify/Categories/Logging/Internal/LoggingCategory+Resettable.swift
  Amplify/Categories/Predictions/Internal/PredictionsCategory+CategoryConfigurable.swift
  Amplify/Categories/Predictions/Internal/PredictionsCategory+Resettable.swift
  Amplify/Categories/Storage/Internal/StorageCategory+CategoryConfigurable.swift
  Amplify/Categories/Storage/Internal/StorageCategory+Resettable.swift
  Amplify/Core/Configuration/AmplifyConfiguration.swift
  Amplify/Core/Configuration/Internal/Amplify+Reset.swift
  Amplify/Core/Plugin/Internal/Resettable.swift
  AmplifyPlugins/API/APICategoryPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/API/AWSAPICategoryPlugin/AWSAPIPlugin+Resettable.swift
  AmplifyTests/CategoryTests/API/APICategoryConfigurationTests.swift
Labels: API

#250 Reprovision API Integration test backends
  .gitignore
  AmplifyPlugins/API/APICategoryPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/API/APICategoryPlugin.xcodeproj/xcshareddata/xcschemes/AWSAPICategoryPluginFunctionalTests.xcscheme
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/AWSAPICategoryPluginGetTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/AnyModelIntegrationTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/BlogPostCommentGraphQLWithAPIKey/BlogPostCommentGraphQLWithAPIKeyTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLModelBased/GraphQLModelBasedTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLModelBased/README.md
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLSyncBased/GraphQLSyncBasedTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLSyncBased/README.md
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/IntegrationTestConfiguration.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/TodoGraphQLWithAPIKeyTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/GraphQL/GraphQLWithIAMIntegrationTests/GraphQLWithIAMIntegrationTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/GraphQL/GraphQLWithIAMIntegrationTests/README.md
  AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/GraphQL/GraphQLWithUserPoolIntegrationTests/GraphQLWithUserPoolIntegrationTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/GraphQL/GraphQLWithUserPoolIntegrationTests/README.md
  AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/REST/RESTWithIAMIntegrationTests/README.md
  AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/REST/RESTWithIAMIntegrationTests/RESTWithIAMIntegrationTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginTestCommon/TestConfigHelper.swift
  Podfile.lock
  Pods/Manifest.lock
  Pods/Pods.xcodeproj/project.pbxproj
Labels: API

#252 Remove dependency on ModelRegistry for syncability of models
  Amplify.xcodeproj/project.pbxproj
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLSyncBased/GraphQLSyncBasedTests.swift
  AmplifyPlugins/Core/AWSPluginsCore/Model/GraphQLDocument/GraphQLDocument+DeleteSyncMutation.swift
  AmplifyPlugins/Core/AWSPluginsCore/Model/GraphQLDocument/GraphQLDocument+GetQuery.swift
  AmplifyPlugins/Core/AWSPluginsCore/Model/GraphQLDocument/GraphQLDocument+ListQuery.swift
  AmplifyPlugins/Core/AWSPluginsCore/Model/GraphQLDocument/GraphQLDocument+Mutation.swift
  AmplifyPlugins/Core/AWSPluginsCore/Model/GraphQLDocument/GraphQLDocument+Subscription.swift
  AmplifyPlugins/Core/AWSPluginsCore/Model/GraphQLDocument/GraphQLDocument+SyncMutation.swift
  AmplifyPlugins/Core/AWSPluginsCore/Model/GraphQLDocument/GraphQLDocument+SyncQuery.swift
  AmplifyPlugins/Core/AWSPluginsCore/Model/GraphQLDocument/GraphQLDocument.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLDocument/GraphQLDocumentTests.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLDocument/GraphQLGetQueryTests.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLDocument/GraphQLListQueryTests.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLDocument/GraphQLMutationTests.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLDocument/GraphQLSubscriptionTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/MutationSync/OutgoingMutationQueue/SyncMutationToCloudOperation.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/IncomingAsyncSubscriptionEventPublisher.swift
  AmplifyPlugins/DataStore/DataStoreCategoryPlugin.xcodeproj/project.pbxproj
Labels: API, DataStore

#256 Reprovision Storage Integration test backend
  .gitignore
  Amplify.xcodeproj/project.pbxproj
  AmplifyPlugins/API/APICategoryPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/BlogPostCommentGraphQLWithAPIKey/BlogPostCommentGraphQLWithAPIKeyTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/GraphQL/GraphQLWithUserPoolIntegrationTests/GraphQLWithUserPoolIntegrationTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/GraphQL/GraphQLWithUserPoolIntegrationTests/README.md
  AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/REST/RESTWithIAMIntegrationTests/RESTWithIAMIntegrationTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginFunctionalTests/AWSS3StoragePluginAccessLevelTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginFunctionalTests/AWSS3StoragePluginBasicIntegrationTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginFunctionalTests/AWSS3StoragePluginNegativeTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginFunctionalTests/AWSS3StoragePluginOptionsUsabilityTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginFunctionalTests/AWSS3StoragePluginTestBase.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginFunctionalTests/README.md
  AmplifyPlugins/Storage/AWSS3StoragePluginFunctionalTests/ResumabilityTests/AWSS3StoragePluginGetDataResumabilityTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginFunctionalTests/ResumabilityTests/AWSS3StoragePluginPutDataResumabilityTests.swift
  AmplifyPlugins/Storage/StoragePlugin.xcodeproj/project.pbxproj
  AmplifyTestCommon/Helpers/AWSMobileClient+Message.swift
  AmplifyTestCommon/Helpers/AuthHelper.swift
  AmplifyTestCommon/Helpers/TestConfigHelper.swift
  AmplifyTestCommon/TestCommonConstants.swift
  Podfile
  Podfile.lock
  Pods/Manifest.lock
  Pods/Pods.xcodeproj/project.pbxproj
Labels: Storage
