Repository aws-amplify/amplify-swift, pull requests merged in 2020-08, with the labels that each got.

#690 fix(api): cognito user pool intercept with accessToken
  AmplifyPlugins/API/APICategoryPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/GraphQL/GraphQLWithUserPoolIntegrationTests/AuthDirective/README.md
  AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/GraphQL/GraphQLWithUserPoolIntegrationTests/GraphQLWithUserPoolIntegrationTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/REST/RESTWithUserPoolIntegrationTests/README.md
  AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/REST/RESTWithUserPoolIntegrationTests/RESTWithUserPoolIntegrationTests.swift
  AmplifyPlugins/Core/AWSPluginsCore/Auth/AWSAuthService.swift
Labels: api

#660 fix(predictions): TABLE, CELL & KEY_VALUE_SET blocks are not properly processed
  AmplifyPlugins/Predictions/AWSPredictionsPlugin/Support/Utils/IdentifyResultTransformers.swift
  AmplifyPlugins/Predictions/AWSPredictionsPlugin/Support/Utils/IdentifyTextResultTransformers+KeyValueSet.swift
  AmplifyPlugins/Predictions/AWSPredictionsPlugin/Support/Utils/IdentifyTextResultTransformers+Tables.swift
  AmplifyPlugins/Predictions/AWSPredictionsPlugin/Support/Utils/IdentifyTextResultTransformers.swift
  AmplifyPlugins/Predictions/AWSPredictionsPluginIntegrationTests/AWSPredictionsPluginTestBase.swift
  AmplifyPlugins/Predictions/AWSPredictionsPluginIntegrationTests/ConvertBasicIntegrationTests.swift
  AmplifyPlugins/Predictions/AWSPredictionsPluginIntegrationTests/IdentifyBasicIntegrationTests.swift
  AmplifyPlugins/Predictions/AWSPredictionsPluginIntegrationTests/README.md
  AmplifyPlugins/Predictions/AWSPredictionsPluginIntegrationTests/Resources/TestImages/testImageTextAll.jpg
  AmplifyPlugins/Predictions/AWSPredictionsPluginIntegrationTests/Resources/TestImages/testImageTextForms.jpg
  AmplifyPlugins/Predictions/AWSPredictionsPluginIntegrationTests/Resources/TestImages/testImageTextWithTables.jpg
  AmplifyPlugins/Predictions/AWSPredictionsPluginTests/ConfigurationTests/PredictionsPluginConfigurationTests.swift
  AmplifyPlugins/Predictions/CoreMLPredictionsPluginIntegrationTests/CoreMLPredictionsPluginIntegrationTest.swift
  AmplifyPlugins/Predictions/HostApp/Configuration/amplifyconfiguration.json
  AmplifyPlugins/Predictions/Podfile
  AmplifyPlugins/Predictions/Podfile.lock
  AmplifyPlugins/Predictions/PredictionsCategoryPlugin.xcodeproj/project.pbxproj
Labels: bug, predictions

#704 fix(Predictions): rowIndex and columnIndex for cell
  Amplify/Categories/Predictions/Models/Table.swift
  AmplifyPlugins/Predictions/AWSPredictionsPlugin/Support/Utils/IdentifyTextResultTransformers+Tables.swift
  AmplifyPlugins/Predictions/AWSPredictionsPluginIntegrationTests/IdentifyBasicIntegrationTests.swift
  CHANGELOG.md
Labels: bug, predictions

#580 Datastore/sort by
  Amplify.xcodeproj/project.pbxproj
  Amplify/Categories/DataStore/DataStoreCategory+Behavior.swift
  Amplify/Categories/DataStore/DataStoreCategoryBehavior.swift
  Amplify/Categories/DataStore/Query/QuerySortInput.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/AWSDataStorePlugin+DataStoreBaseBehavior.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/ModelStorageBehavior.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/SQLite/QuerySort+SQLite.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/SQLite/SQLStatement+Select.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/SQLite/StorageEngineAdapter+SQLite.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/StorageEngine.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/StorageEngineAdapter.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/MutationSync/AWSMutationDatabaseAdapter/AWSMutationDatabaseAdapter+MutationEventSource.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/MutationSync/MutationEvent/MutationEventClearState.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/Support/MutationEvent+Query.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/DataStoreConfigurationTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/DataStoreEndToEndTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/DataStoreLocalStoreTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/SubscriptionEndToEndTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/TestSupport/LocalStoreIntegrationTestBase.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Core/SQLStatementTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/MutationQueue/MutationEventClearStateTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/Support/MockSQLiteStorageEngineAdapter.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/Support/MockSQLiteStorageEngineAdapterResponders.swift
  AmplifyPlugins/DataStore/DataStoreCategoryPlugin.xcodeproj/project.pbxproj
  AmplifyTestCommon/Mocks/MockDataStoreCategoryPlugin.swift
Labels: datastore, pending release

#707 feat: Add AmplifyConfiguration file-based initializer
  Amplify.xcodeproj/project.pbxproj
  Amplify/Core/Configuration/AmplifyConfiguration.swift
  Amplify/Core/Configuration/Internal/AmplifyConfigurationInitialization.swift
  AmplifyFunctionalTests/AmplifyConfigurationInitFromFileTests.swift
  AmplifyFunctionalTests/AmplifyConfigurationTests.swift
  AmplifyFunctionalTests/Hub/SerialDispatcherPerformanceTests.swift
Labels: core

#633 feat: Mark APIs that return operations with @discardableResult
  Amplify/Categories/API/ClientBehavior/APICategoryGraphQLBehavior.swift
  Amplify/Categories/API/ClientBehavior/APICategoryRESTBehavior.swift
  Amplify/Categories/Auth/AuthCategoryBehavior.swift
  Amplify/Categories/Auth/AuthCategoryDeviceBehavior.swift
  Amplify/Categories/Auth/AuthCategoryUserBehavior.swift
  Amplify/Categories/Predictions/PredictionsCategoryBehavior.swift
  Amplify/Categories/Storage/StorageCategoryBehavior.swift
  AmplifyTests/CategoryTests/API/APICategoryClientRESTTests.swift
Labels: pending release

#700 feat(auth): Add metadata options for passing clientMetadata to APIs
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Dependency/AuthUserServiceAdapter.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Dependency/AuthenticationProviderAdapter+SignIn.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Dependency/AuthenticationProviderAdapter+SignUp.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Models/Options/AWSAttributeResendConfirmationCodeOptions.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Models/Options/AWSAuthResendSignUpCodeOptions.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Models/Options/AWSUpdateUserAttributeOptions.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Models/Options/AWSUpdateUserAttributesOptions.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Service/AWSMobileClient/AWSMobileClientAdapter.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Service/AWSMobileClient/AWSMobileClientBehavior.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginIntegrationTests/AWSAuthBaseTest.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginIntegrationTests/AuthSignInTests/AuthUsernamePasswordSignInTests.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginIntegrationTests/AuthSignUpTests/AuthSignUpTests.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginIntegrationTests/AuthUserAttributesTests/AuthUserAttributesTests.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginIntegrationTests/README.md
  AmplifyPlugins/Auth/AWSCognitoAuthPluginIntegrationTests/Support/AuthConfigurationHelper.swift
Labels: auth

#722 refactor(core): Add support for useragent to add platform info
  AmplifyPlugins/Core/AWSPluginsCore/ServiceConfiguration/AmplifyAWSServiceConfiguration.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/ServiceConfiguration/AmplifyAWSServiceConfigurationTests.swift
Labels: core

#711 feat(api): Adding custom 'items' deserialization for List
  Amplify/Categories/DataStore/Model/Collection/List+Model.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/AnyModelIntegrationTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLModelBased/GraphQLModelBasedTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLSyncBased/GraphQLSyncBasedTests.swift
Labels: api

#747 fix: typo in iOS Combine docs
  README-combine-support.md
Labels: documentation
