Repository aws-amplify/amplify-swift, pull requests merged in 2020-12, with the labels that each got.

#935 test(Auth): resendSignUpCode unit tests
  AmplifyPlugins/Auth/AWSCognitoAuthPluginTests/AuthenticationProviderTests/AuthenticationProviderResendSignupCodeTests.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginTests/Mocks/MockAWSMobileClient.swift
Labels: auth

#942 test(Auth): ConfirmResetPassword unit tests
  AmplifyPlugins/Auth/AWSCognitoAuthPluginTests/AuthenticationProviderTests/AuthenticationProviderConfirmResetPasswordTests.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginTests/AuthenticationProviderTests/AuthenticationProviderConfirmSignupTests.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginTests/AuthenticationProviderTests/AuthenticationProviderResendSignupCodeTests.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginTests/Mocks/MockAWSMobileClient.swift
Labels: auth

#951 test(Auth): AuthDevice unit tests (fetchDevices, forgetDevice, rememberDevice)
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/Auth/AWSCognitoAuthPluginTests/AuthDeviceBehaviorTests/AuthDeviceFetchDevicesTests.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginTests/AuthDeviceBehaviorTests/AuthDeviceForgetDeviceTests.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginTests/AuthDeviceBehaviorTests/AuthDeviceRememberDeviceTests.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginTests/AuthDeviceBehaviorTests/BaseAuthDeviceTest.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginTests/Mocks/MockAWSMobileClient.swift
Labels: auth

#947 fix(Auth): Dismiss empty UIViewController
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Dependency/AuthenticationProviderAdapter+SignIn.swift
Labels: auth

#970 fix: add blog post comment schema and tests
  Amplify.xcodeproj/project.pbxproj
  AmplifyPlugins/API/APICategoryPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/API/APICategoryPlugin.xcodeproj/xcshareddata/xcschemes/AWSAPICategoryPluginFunctionalTests.xcscheme
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLModelBased/GraphQLConnectionScenario1Tests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLModelBased/GraphQLConnectionScenario2Tests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLModelBased/GraphQLConnectionScenario3Tests+Helpers.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLModelBased/GraphQLConnectionScenario3Tests+Subscribe.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLModelBased/GraphQLConnectionScenario3Tests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLModelBased/GraphQLConnectionScenario4Tests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLModelBased/GraphQLConnectionScenario5Tests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLModelBased/GraphQLConnectionScenario6Tests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLModelBased/GraphQLModelBasedTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLModelBased/README.md
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/Connection/DataStoreConnectionScenario6Tests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/README.md
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/TestSupport/HubEventsIntegrationTestBase.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/TestSupport/SyncEngineIntegrationTestBase.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/TestSupport/TestModelRegistration.swift
  AmplifyPlugins/DataStore/DataStoreCategoryPlugin.xcodeproj/project.pbxproj
  AmplifyTestCommon/Models/Collection/6/Blog6+Schema.swift
  AmplifyTestCommon/Models/Collection/6/Blog6.swift
  AmplifyTestCommon/Models/Collection/6/Comment6+Schema.swift
  AmplifyTestCommon/Models/Collection/6/Comment6.swift
  AmplifyTestCommon/Models/Collection/6/Post6+Schema.swift
  AmplifyTestCommon/Models/Collection/6/Post6.swift
  AmplifyTestCommon/Models/Collection/connection-schema.graphql
  AmplifyTestCommon/Models/schema.graphql
Labels: api, datastore

#971 fix: refactor GraphQL response decoder
  AmplifyPlugins/API/APICategoryPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/API/AWSAPICategoryPlugin/AWSAPIPlugin+GraphQLBehavior.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Operation/AWSGraphQLOperation+APIOperation.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Operation/AWSGraphQLOperation.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Operation/AWSGraphQLSubscriptionOperation.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Support/Decode/GraphQLErrorDecoder.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Support/Decode/GraphQLResponseDecoder+DecodeData.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Support/Decode/GraphQLResponseDecoder.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Support/Internal/AWSAppSyncGraphQLResponse.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Support/Utils/GraphQLRequest+toOperationRequest.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Support/Utils/GraphQLResponseDecoder.swift
  AmplifyPlugins/API/AWSAPICategoryPluginTests/Support/Decode/GraphQLErrorDecoderTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginTests/Support/Decode/GraphQLResponseDecoder+DecodeDataTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginTests/Support/Decode/GraphQLResponseDecoderTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginTests/Support/Internal/AWSAppSyncGrpahQLResponseTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginTests/Support/Utils/GraphQLResponseDecoderTests.swift
Labels: api

#961 fix(DataStore): QueryPredicate translation
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/SQLite/SQLStatement+Condition.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/DataStoreLocalStoreTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Core/SQLStatementTests.swift
Labels: datastore
