Repository aws-amplify/amplify-swift, pull requests merged in 2020-06, with the labels that each got.

#508 fix(api): support query predicate Temporal.DateTime, fix integ tests
  AmplifyPlugins/API/APICategoryPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/APICategoryPluginConcurrencyTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/AnyModelIntegrationTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/BlogPostCommentGraphQLWithAPIKey/BlogPostCommentGraphQLWithAPIKeyTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLModelBased/GraphQLModelBasedTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLModelBased/README.md
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLSyncBased/GraphQLSyncBasedTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLSyncBased/README.md
  AmplifyPlugins/API/AWSAPICategoryPluginTestCommon/Model/BlogPostComment.swift
  AmplifyTestCommon/Models/schema.graphql
Labels: API

#519 [Bug Fix][Amplify API] Fix the bug which fails to update the value to nil
  Amplify.xcodeproj/project.pbxproj
  AmplifyPlugins/Core/AWSPluginsCore/Model/Support/Model+GraphQL.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/Support/ModelGraphQLTests.swift
Labels: API

#509 fix(api): incorrect selection set for optional associated field
  Amplify.xcodeproj/project.pbxproj
  AmplifyPlugins/Core/AWSPluginsCore/Model/Support/SelectionSet.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLRequest/GraphQLRequestOptionalAssociationTests.swift
  AmplifyTestCommon/Models/AmplifyModels.swift
  AmplifyTestCommon/Models/User+Schema.swift
  AmplifyTestCommon/Models/User.swift
  AmplifyTestCommon/Models/UserFollowers+Schema.swift
  AmplifyTestCommon/Models/UserFollowers.swift
  AmplifyTestCommon/Models/UserFollowing+Schema.swift
  AmplifyTestCommon/Models/UserFollowing.swift
  AmplifyTestCommon/Models/schema.graphql
Labels: API

#520 fix(datastore): eager loaded associations depth
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/SQLite/ModelSchema+SQLite.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/SQLite/SQLStatement+Select.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/SQLite/Statement+AnyModel.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/SQLite/Statement+Model.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/SQLite/StorageEngineAdapter+SQLite.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/SQLite/StorageEngineAdapter+UntypedModel.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Core/SQLStatementTests.swift
  AmplifyPlugins/DataStore/DataStoreCategoryPlugin.xcodeproj/project.pbxproj
  CHANGELOG.md
  Podfile.lock
  Pods/Manifest.lock
Labels: DataStore

#499 chore: Remove hardcoded version from .jazzy.yml
  .jazzy.yaml
Labels: Build

#542 fix(Auth): Signout will completely delete the session in webui
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Dependency/AuthenticationProviderAdapter+SignOut.swift
Labels: Auth

#534 fix(datastore): wrong keyPath in lazy list initialization
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/SQLite/Statement+Model.swift
  CHANGELOG.md
Labels: DataStore

#539 Add Embedded type to store schema info for custom types
  Amplify.xcodeproj/project.pbxproj
  Amplify/Categories/DataStore/Model/Embedded.swift
  Amplify/Categories/DataStore/Model/Schema/ModelField+Association.swift
  Amplify/Categories/DataStore/Model/Schema/ModelSchema+Definition.swift
  AmplifyPlugins/Core/AWSPluginsCore/Model/Decorator/ConflictResolutionDecorator.swift
  AmplifyPlugins/Core/AWSPluginsCore/Model/Support/Model+GraphQL.swift
  AmplifyPlugins/Core/AWSPluginsCore/Model/Support/SelectionSet.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/Decorator/AuthRuleDecorator/ModelMultipleOwnerAuthRuleTests.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLRequest/GraphQLRequestNonModelTests.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/Support/ModelGraphQLTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/SQLite/ModelValueConverter+SQLite.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Models/ExampleWithEveryType+Schema.swift
  AmplifyTestCommon/Models/NonModel/Category.swift
  AmplifyTestCommon/Models/NonModel/Color.swift
  AmplifyTestCommon/Models/NonModel/Section.swift
  AmplifyTestCommon/Models/NonModel/Todo+Schema.swift
  AmplifyTestCommon/Models/NonModel/Todo.swift
Labels: API, DataStore

#535 fix(tools): nvm support added so node is correctly resolved
  AmplifyTools/amplify-tools.sh
  CHANGELOG.md
Labels: Build

#554 Update CLI min version in Amplify Tools for codegen changes
  AmplifyTools/amplify-tools.sh
  CHANGELOG.md
Labels: amplify-app

#551 feat(DataStore): database recreation based on new schema
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/AWSDataStorePlugin.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/SQLite/StorageEngineAdapter+SQLite.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/StorageEngine.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/DataStoreConfigurationTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Core/SQLiteStorageEngineAdapterTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/TestSupport/Mocks/MockFileManager.swift
  AmplifyPlugins/DataStore/DataStoreCategoryPlugin.xcodeproj/project.pbxproj
  AmplifyTestCommon/Models/AmplifyModels.swift
  Podfile.lock
  Pods/Manifest.lock
Labels: DataStore

#577 refactor(Auth): Changed the Auth plugins user agent to use Amplify
  AWSPluginsCore.podspec
  AWSPredictionsPlugin.podspec
  AmplifyPlugins.podspec
  AmplifyPlugins/API/Podfile.lock
  AmplifyPlugins/Analytics/Podfile.lock
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/AWSCognitoAuthPlugin+Configure.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Service/AWSMobileClient/AWSMobileClientAdapter.swift
  AmplifyPlugins/Auth/Podfile.lock
  AmplifyPlugins/Core/AWSPluginsCore/ServiceConfiguration/AmplifyAWSServiceConfiguration.swift
  AmplifyPlugins/DataStore/Podfile.lock
  AmplifyPlugins/Predictions/Podfile.lock
  AmplifyPlugins/Storage/Podfile.lock
  AmplifyTestCommon.podspec
  Podfile.lock
  Pods/Manifest.lock
  build-support/dependencies.rb
Labels: auth

#589 fix(auth): Fix issue in auth configure where it fails if both Cognito services are not present
  AWSPluginsCore.podspec
  AWSPredictionsPlugin.podspec
  AmplifyPlugins.podspec
  AmplifyPlugins/API/Podfile.lock
  AmplifyPlugins/Analytics/Podfile.lock
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/AWSCognitoAuthPlugin+Configure.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Service/AWSMobileClient/AWSMobileClientAdapter.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginTests/AWSCognitoAuthPluginConfigTests.swift
  AmplifyPlugins/Auth/Podfile.lock
  AmplifyPlugins/DataStore/Podfile.lock
  AmplifyPlugins/Predictions/Podfile.lock
  AmplifyPlugins/Storage/Podfile.lock
  AmplifyTestCommon.podspec
  CHANGELOG.md
  Podfile.lock
  build-support/dependencies.rb
Labels: auth

#596 Fix: DataStore E2E Integration Tests
  Amplify.xcodeproj/project.pbxproj
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/DataStoreEndToEndTests.swift
  AmplifyPlugins/DataStore/DataStoreCategoryPlugin.xcodeproj/project.pbxproj
Labels: datastore
