Repository aws-amplify/amplify-swift, pull requests merged in 2020-05, with the labels that each got.

#402 feat: [DataStore] Process ConflictUnhandled errors for Conflict Resolution
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLSyncBased/GraphQLSyncBasedTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/AWSDataStorePlugin+DataStoreBaseBehavior.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/DataStoreConfiguration.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/ModelStorageBehavior.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/SQLite/StorageEngineAdapter+SQLite.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/StorageEngine.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/StorageEngineAdapter.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/MutationSync/OutgoingMutationQueue/OutgoingMutationQueue.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/MutationSync/OutgoingMutationQueue/ProcessMutationErrorFromCloudOperation.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/RemoteSyncEngine.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/ReconcileAndLocalSave/RemoteSyncReconciler.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/MutationQueue/MutationIngesterConflictResolutionTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/MutationQueue/OutgoingMutationQueueTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/MutationQueue/OutgoingMutationQueueTestsWithMockStateMachine.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/MutationQueue/ProcessMutationErrorFromCloudOperationTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/Support/MockSQLiteStorageEngineAdapter.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/Support/MockSQLiteStorageEngineAdapterResponders.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/TestSupport/Mocks/MockOutgoingMutationQueue.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/TestSupport/Mocks/NoOpMutationQueue.swift
Labels: DataStore

#406 feat(Auth): Implementation of fetchAuthSession
  Amplify.xcodeproj/project.pbxproj
  Amplify/Categories/Auth/AuthCategory+ClientBehavior.swift
  Amplify/Categories/Auth/AuthCategoryBehavior.swift
  Amplify/Categories/Auth/Models/AuthSession.swift
  Amplify/Categories/Auth/Models/AuthUserState.swift
  Amplify/Categories/Auth/Operation/AuthFetchSessionOperation.swift
  Amplify/Categories/Auth/Request/AuthFetchSessionRequest.swift
  Amplify/Categories/Auth/Request/AuthStateRequest.swift
  AmplifyPlugins/Auth/AWSAuthPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/Auth/AWSAuthPlugin/AWSAuthPlugin+ClientBehavior.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Dependency/AuthorizationProviderAdapter+SignedInSession.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Dependency/AuthorizationProviderAdapter+SignedOutSession.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Dependency/AuthorizationProviderAdapter.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Dependency/AuthorizationProviderBehavior.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Models/AWSAuthCognitoSession.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Models/AWSCognitoUserPoolTokens.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Models/Error/AWSCognitoAuthError.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/AWSAuthFetchSessionOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Service/AWSMobileClient/AWSMobileClientAdapter.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Service/AWSMobileClient/AWSMobileClientBehavior.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Support/Constants/AuthPluginErrorConstants.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Support/Utils/AWSCredentials+Extension.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Support/Utils/AuthCognitoSignedInSessionHelper.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Support/Utils/AuthCognitoSignedOutSessionHelper.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Support/Utils/AuthErrorHelper.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Support/Utils/Tokens+Extension.swift
  AmplifyPlugins/Core/AWSPluginsCore/Auth/Provider/AuthAWSCredentisProvider.swift
  AmplifyPlugins/Core/AWSPluginsCore/Auth/Provider/AuthCognitoIdentityProvider.swift
  AmplifyPlugins/Core/AWSPluginsCore/Auth/Provider/AuthCognitoTokensProvider.swift
  AmplifyTestCommon/Mocks/MockAuthCategoryPlugin.swift
Labels: Auth

#420 refactor(Auth): Changed the next step of Signup apis
  Amplify.xcodeproj/project.pbxproj
  Amplify/Categories/Auth/Models/AuthNextSignUpStep.swift
  Amplify/Categories/Auth/Models/AuthSignUpStep.swift
  Amplify/Categories/Auth/Result/AuthSignUpResult.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Dependency/AuthenticationProviderAdapter+SignUp.swift
Labels: Auth

#422 fix(Auth): Crash in WebUI signout
  AmplifyPlugins/Auth/AWSAuthPlugin/Dependency/AuthenticationProviderAdapter+SignOut.swift
Labels: Auth

#415 feat(Auth): Implementation of Device operations
  Amplify.xcodeproj/project.pbxproj
  Amplify/Categories/Auth/AuthCategory+DeviceBehavior.swift
  Amplify/Categories/Auth/AuthCategoryBehavior.swift
  Amplify/Categories/Auth/AuthCategoryDeviceBehavior.swift
  Amplify/Categories/Auth/Models/AuthDevice.swift
  Amplify/Categories/Auth/Operation/AuthFetchDevicesOperation.swift
  Amplify/Categories/Auth/Operation/AuthForgetDeviceOperation.swift
  Amplify/Categories/Auth/Operation/AuthRememberDeviceOperation.swift
  Amplify/Categories/Auth/Request/AuthFetchDevicesRequest.swift
  Amplify/Categories/Auth/Request/AuthForgetDeviceRequest.swift
  Amplify/Categories/Auth/Request/AuthRememberDeviceRequest.swift
  AmplifyPlugins/Auth/AWSAuthPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/Auth/AWSAuthPlugin/AWSAuthPlugin+DeviceBehavior.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/AWSAuthPlugin.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Dependency/AuthDeviceServiceAdapter.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Dependency/AuthDeviceServiceBehavior.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Models/AWSAuthDevice.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/AWSAuthFetchDevicesOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/AWSAuthForgetDeviceOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/AWSAuthRememberDeviceOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Service/AWSMobileClient/AWSMobileClientAdapter.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Service/AWSMobileClient/AWSMobileClientBehavior.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Support/Utils/Device+Extension.swift
Labels: Auth

#428 fix(Auth): Fix build failure in Amplify unit test
  Amplify.xcodeproj/project.pbxproj
  AmplifyTestCommon/Mocks/MockAuthCategoryPlugin.swift
  AmplifyTests/CategoryTests/Auth/AuthCategoryConfigurationTests.swift
Labels: Auth

#430 fix(Auth): Added operations for confirmSignup and resendSignUpCode api
  AmplifyPlugins/Auth/AWSAuthPlugin/AWSAuthPlugin+ClientBehavior.swift
Labels: Auth

#436 feat(Auth): Implementation of auth session helper in AmplifyPluginsCore
  AWSPluginsCore.podspec
  Amplify.xcodeproj/project.pbxproj
  AmplifyPlugins/API/AWSAPICategoryPlugin/SubscriptionFactory/AWSSubscriptionConnectionFactory.swift
  AmplifyPlugins/Analytics/AWSPinpointAnalyticsPlugin/AWSPinpointAnalyticsPlugin+Configure.swift
  AmplifyPlugins/Analytics/AWSPinpointAnalyticsPlugin/Dependency/AWSPinpointAdapter.swift
  AmplifyPlugins/Analytics/AWSPinpointAnalyticsPluginTests/Mocks/MockAWSAuthService.swift
  AmplifyPlugins/Analytics/AnalyticsCategoryPlugin.xcodeproj/xcshareddata/xcschemes/AWSPinpointAnalyticsPlugin.xcscheme
  AmplifyPlugins/Auth/AWSAuthPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/Auth/AWSAuthPlugin/AWSAuthPlugin+InvalidateCredentials.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/AWSAuthPlugin.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Dependency/AuthorizationProviderAdapter.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Dependency/AuthorizationProviderBehavior.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Models/AWSAuthService.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Service/AWSMobileClient/AWSMobileClientAdapter.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Service/AWSMobileClient/AWSMobileClientBehavior.swift
  AmplifyPlugins/Core/AWSPluginsCore/Auth/AWSAuthService.swift
  AmplifyPlugins/Core/AWSPluginsCore/Auth/AWSAuthServiceBehavior.swift
  AmplifyPlugins/Core/AWSPluginsCore/Auth/AWSMobileClientAdapter.swift
  AmplifyPlugins/Core/AWSPluginsCore/Auth/AWSMobileClientBehavior.swift
  AmplifyPlugins/Core/AWSPluginsCore/Auth/AWSMobileClientError+Extension.swift
  AmplifyPlugins/Core/AWSPluginsCore/Auth/AuthPluginBehavior/AuthInvalidateCredentialBehavior.swift
  AmplifyPlugins/Core/AWSPluginsCore/Auth/Provider/AmplifyAWSCredentialsProvider.swift
  AmplifyPlugins/Core/AWSPluginsCore/Auth/Provider/IAMCredentialProvider.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/ServiceConfiguration/AmplifyAWSServiceConfigurationTests.swift
  AmplifyPlugins/Core/AWSPluginsTestCommon/MockAWSAuthService.swift
  AmplifyPlugins/Core/AWSPluginsTestCommon/MockAWSMobileClient.swift
  AmplifyPlugins/Predictions/AWSPredictionsPlugin/AWSPredictionsPlugin+Configure.swift
  AmplifyPlugins/Predictions/AWSPredictionsPlugin/AWSPredictionsPlugin+Reset.swift
  AmplifyPlugins/Predictions/AWSPredictionsPlugin/Service/Predictions/AWSPredictionsService.swift
  AmplifyPlugins/Storage/AWSS3StoragePlugin/AWSS3StoragePlugin+Configure.swift
  AmplifyPlugins/Storage/AWSS3StoragePlugin/AWSS3StoragePlugin+Reset.swift
  AmplifyPlugins/Storage/AWSS3StoragePlugin/Service/Storage/AWSS3StorageService.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginTests/Operation/AWSS3StorageDownloadFileOperationTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginTests/Operation/AWSS3StorageGetDataOperationTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginTests/Operation/AWSS3StorageGetURLOperationTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginTests/Operation/AWSS3StorageListOperationTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginTests/Operation/AWSS3StoragePutDataOperationTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginTests/Operation/AWSS3StorageRemoveOperationTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginTests/Operation/AWSS3StorageUploadFileOperationTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginTests/Service/Storage/AWSS3StorageServiceTestBase.swift
  Podfile
  Podfile.lock
  Pods/Manifest.lock
Labels: Auth

#439 refactor(Auth): Refactored AuthUserAttributeKey to be RawRepresentable
  Amplify/Categories/Auth/Models/AuthCodeDeliveryDetails.swift
  Amplify/Categories/Auth/Models/AuthUserAttribute.swift
  AmplifyPlugins/Auth/AWSAuthPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/Auth/AWSAuthPlugin/AWSAuthPlugin+Configure.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Dependency/AuthUserServiceAdapter.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Dependency/AuthenticationProviderAdapter+SignIn.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Dependency/AuthenticationProviderAdapter+SignUp.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Support/Utils/AuthUserAttributeKey+Extension.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Support/Utils/UserCodeDeliveryDetails+Extension.swift
  AmplifyPlugins/Auth/AWSAuthPluginTests/Utils/AuthUserAttributeKeyTests.swift
Labels: Auth

#432 feat(Auth): Handle session expiry for auth session
  AmplifyPlugins/Auth/AWSAuthPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/Auth/AWSAuthPlugin/AWSAuthPlugin+Configure.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/AWSAuthPlugin+Reset.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/ClientBehavior/AWSAuthPlugin+ClientBehavior.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/ClientBehavior/AWSAuthPlugin+DeviceBehavior.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/ClientBehavior/AWSAuthPlugin+UserBehavior.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Dependency/AuthorizationProviderAdapter+Reset.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Dependency/AuthorizationProviderAdapter.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Service/AWSMobileClient/AWSMobileClientAdapter+Reset.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Service/AWSMobileClient/AWSMobileClientAdapter.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Service/AWSMobileClient/AWSMobileClientBehavior.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Support/Utils/AWSMobileClient+Reset.swift
  AmplifyPlugins/Auth/AWSAuthPluginIntegrationTests/AWSAuthBaseTest.swift
  AmplifyPlugins/Auth/AWSAuthPluginIntegrationTests/AWSAuthPluginIntegrationTests.swift
  AmplifyPlugins/Auth/AWSAuthPluginIntegrationTests/AuthSessionTests/SignedInAuthSessionTests.swift
  AmplifyPlugins/Auth/AWSAuthPluginIntegrationTests/AuthSessionTests/SignedOutAuthSessionTests.swift
  AmplifyPlugins/Auth/AWSAuthPluginIntegrationTests/Resources/Info.plist
  AmplifyPlugins/Auth/AWSAuthPluginIntegrationTests/Support/AuthConfigurationHelper.swift
  AmplifyPlugins/Auth/HostApp/Source/ViewController.swift
  Podfile.lock
  Pods/Manifest.lock
Labels: Auth

#444 refactor(Auth): Removed unused service from auth plugin
  AmplifyPlugins/Auth/AWSAuthPlugin/Models/AWSAuthService.swift
  AmplifyPlugins/Core/AWSPluginsCore/Auth/Provider/AmplifyAWSCredentialsProvider.swift
Labels: Auth

#447 refactor(Auth): Rename the escape hatch enums type
  AmplifyPlugins/Auth/AWSAuthPlugin/AWSAuthPlugin.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Models/AWSAuthService.swift
Labels: Auth

#433 feat: [API] auth directive integration tests
  AmplifyPlugins/API/APICategoryPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/BlogPostCommentGraphQLWithAPIKey/BlogPostCommentGraphQLWithAPIKeyTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/GraphQL/GraphQLWithUserPoolIntegrationTests/AuthDirective/GraphQLAuthDirectiveIntegrationTests+Support.swift
  AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/GraphQL/GraphQLWithUserPoolIntegrationTests/AuthDirective/GraphQLAuthDirectiveIntegrationTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/GraphQL/GraphQLWithUserPoolIntegrationTests/AuthDirective/README.md
  AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/GraphQL/GraphQLWithUserPoolIntegrationTests/AuthDirective/SocialNote.swift
  AmplifyTestCommon/Helpers/AuthHelper.swift
  AmplifyTestCommon/Models/schema.graphql
Labels: API

#438 feat: [DataStore][AuthDirective] SyncToCloud not authenticated error handling
  Amplify/Categories/DataStore/DataStoreError.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/MutationSync/OutgoingMutationQueue/OutgoingMutationQueue.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/MutationSync/OutgoingMutationQueue/ProcessMutationErrorFromCloudOperation.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/MutationQueue/ProcessMutationErrorFromCloudOperationTests.swift
Labels: DataStore

#454 feat: [API][Integ] AuthDirective tests to use Amplify.Auth
  AmplifyPlugins/API/APICategoryPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/GraphQL/GraphQLWithUserPoolIntegrationTests/AuthDirective/GraphQLAuthDirectiveIntegrationTests+Auth.swift
  AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/GraphQL/GraphQLWithUserPoolIntegrationTests/AuthDirective/GraphQLAuthDirectiveIntegrationTests+Support.swift
  AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/GraphQL/GraphQLWithUserPoolIntegrationTests/AuthDirective/GraphQLAuthDirectiveIntegrationTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginIntegrationTests/GraphQL/GraphQLWithUserPoolIntegrationTests/AuthDirective/README.md
  AmplifyPlugins/API/Podfile
Labels: API

#446 feat: [Storage] use Amplify.Auth in storage integration tests
  AmplifyPlugins/Storage/AWSS3StoragePluginFunctionalTests/AWSS3StoragePluginAccessLevelTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginFunctionalTests/AWSS3StoragePluginBasicIntegrationTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginFunctionalTests/AWSS3StoragePluginConfigurationTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginFunctionalTests/AWSS3StoragePluginNegativeTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginFunctionalTests/AWSS3StoragePluginOptionsUsabilityTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginFunctionalTests/AWSS3StoragePluginTestBase.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginFunctionalTests/README.md
  AmplifyPlugins/Storage/AWSS3StoragePluginFunctionalTests/ResumabilityTests/AWSS3StoragePluginDownloadFileResumabilityTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginFunctionalTests/ResumabilityTests/AWSS3StoragePluginGetDataResumabilityTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginFunctionalTests/ResumabilityTests/AWSS3StoragePluginPutDataResumabilityTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginFunctionalTests/ResumabilityTests/AWSS3StoragePluginUploadFileResumabilityTests.swift
  AmplifyPlugins/Storage/Podfile
  AmplifyPlugins/Storage/StoragePlugin.xcodeproj/project.pbxproj
Labels: Storage

#457 feat(Auth): Hub events for signedIn signedOut and sessionExpire
  Amplify.xcodeproj/project.pbxproj
  Amplify/Categories/Auth/Models/AuthEventName.swift
  AmplifyPlugins/Auth/AWSAuthPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/Auth/AWSAuthPlugin/AWSAuthPlugin+Configure.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/AWSAuthPlugin+Reset.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/AWSAuthPlugin.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/HubEvents/AuthHubEventBehavior.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/HubEvents/AuthHubEventHandler.swift
Labels: Auth

#459 refactor(Auth): Moved signedOut and sessionExpiry error to core Auth
  Amplify.xcodeproj/project.pbxproj
  Amplify/Categories/Auth/Error/AuthError.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/HubEvents/AuthHubEventHandler.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Models/Error/AWSCognitoAuthError.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Support/Utils/AuthCognitoSignedInSessionHelper.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Support/Utils/AuthCognitoSignedOutSessionHelper.swift
  AmplifyPlugins/Auth/AWSAuthPluginIntegrationTests/AuthSessionTests/SignedOutAuthSessionTests.swift
  AmplifyPlugins/Core/AWSPluginsCore/Auth/Provider/AuthAWSCredentialsProvider.swift
  AmplifyPlugins/Core/AWSPluginsTestCommon/MockAWSAuthService.swift
  AmplifyTestCommon.podspec
  Podfile.lock
  Pods/Manifest.lock
Labels: Auth

#463 fix: enum fixes for query predicates and graphql input
  Amplify.xcodeproj/project.pbxproj
  Amplify/Categories/DataStore/Query/ModelKey.swift
  Amplify/Categories/DataStore/Query/QueryField.swift
  AmplifyPlugins/Core/AWSPluginsCore/Model/Support/Model+GraphQL.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLDocument/GraphQLCreateMutationTests.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLDocument/GraphQLDeleteMutationTests.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLDocument/GraphQLGetQueryTests.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLDocument/GraphQLListQueryTests.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLDocument/GraphQLSubscriptionTests.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLDocument/GraphQLSyncQueryTests.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLDocument/GraphQLUpdateMutationTests.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLRequest/GraphQLRequestAnyModelWithSyncTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Core/SQLStatementTests.swift
  AmplifyTestCommon/Models/Post+Schema.swift
  AmplifyTestCommon/Models/Post.swift
  AmplifyTestCommon/Models/PostStatus.swift
  AmplifyTestCommon/Models/schema.graphql
Labels: Core, DataStore

#465 refactor(Auth): Renamed confirmSignUp, resendSignUpCode and forgetDevice apis
  Amplify/Categories/Auth/AuthCategory+ClientBehavior.swift
  Amplify/Categories/Auth/AuthCategory+DeviceBehavior.swift
  Amplify/Categories/Auth/AuthCategoryBehavior.swift
  Amplify/Categories/Auth/AuthCategoryDeviceBehavior.swift
  Amplify/Categories/Auth/Request/AuthForgetDeviceRequest.swift
  Amplify/Categories/Predictions/Models/LanguageType.swift
  AmplifyPlugins/Auth/AWSAuthPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/Auth/AWSAuthPlugin/ClientBehavior/AWSAuthPlugin+ClientBehavior.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/ClientBehavior/AWSAuthPlugin+DeviceBehavior.swift
  AmplifyPlugins/Auth/AWSAuthPluginIntegrationTests/AuthDeviceTests/AuthDeviceOperationTests.swift
  AmplifyPlugins/Auth/AWSAuthPluginIntegrationTests/AuthSignUpTests/AuthSignUpTests.swift
  AmplifyTestCommon/Mocks/MockAuthCategoryPlugin.swift
Labels: Auth

#467 refactor(Auth): Renamed AuthNProvider to AuthProvider and removed unused enum
  Amplify.xcodeproj/project.pbxproj
  Amplify/Categories/Auth/AuthCategory+ClientBehavior.swift
  Amplify/Categories/Auth/AuthCategoryBehavior.swift
  Amplify/Categories/Auth/Models/AuthProvider.swift
  Amplify/Categories/Auth/Request/AuthWebUISignInRequest.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/ClientBehavior/AWSAuthPlugin+ClientBehavior.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Support/Utils/AuthProvider+AWSMobileClient.swift
  AmplifyPlugins/Core/AWSPluginsCore/Auth/Provider/AuthProvider.swift
  AmplifyTestCommon/Mocks/MockAuthCategoryPlugin.swift
Labels: Auth

#461 fix(Auth): Locally signOut the user if globaly signout fail with notAuthorized
  Amplify/Categories/Auth/Request/AuthSignOutRequest.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Dependency/AuthenticationProviderAdapter+SignOut.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Service/AWSMobileClient/AWSMobileClientAdapter.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Service/AWSMobileClient/AWSMobileClientBehavior.swift
Labels: Auth

#472 fix(Auth): Hub event for successful signIn for webUI signIn
  Amplify/Categories/Auth/Operation/AuthSocialWebUISignInOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/Auth/AWSAuthPlugin/Dependency/AuthenticationProviderAdapter+SignOut.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/HubEvents/AuthHubEventHandler.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/AWSAuthSocialWebUISignInOperation.swift
  AmplifyPlugins/Auth/AWSAuthPluginTests/HubEventTests/AuthHubEventHandlerTests.swift
Labels: Auth

#473 refactor(Auth): Added an API to the event of every Auth api hub events
  Amplify/Categories/Auth/Models/AuthEventName.swift
  Amplify/Categories/Auth/Operation/AuthChangePasswordOperation.swift
  Amplify/Categories/Auth/Operation/AuthConfirmResetPasswordOperation.swift
  Amplify/Categories/Auth/Operation/AuthConfirmSignInOperation.swift
  Amplify/Categories/Auth/Operation/AuthConfirmSignUpOperation.swift
  Amplify/Categories/Auth/Operation/AuthFetchDevicesOperation.swift
  Amplify/Categories/Auth/Operation/AuthFetchSessionOperation.swift
  Amplify/Categories/Auth/Operation/AuthForgetDeviceOperation.swift
  Amplify/Categories/Auth/Operation/AuthRememberDeviceOperation.swift
  Amplify/Categories/Auth/Operation/AuthResendSignUpCodeOperation.swift
  Amplify/Categories/Auth/Operation/AuthResetPasswordOperation.swift
  Amplify/Categories/Auth/Operation/AuthSignInOperation.swift
  Amplify/Categories/Auth/Operation/AuthSignOutOperation.swift
  Amplify/Categories/Auth/Operation/AuthSignUpOperation.swift
  Amplify/Categories/Auth/Operation/AuthSocialWebUISignInOperation.swift
  Amplify/Categories/Auth/Operation/AuthWebUISignInOperation.swift
  Amplify/Categories/Auth/Operation/UserOperations/AuthAttributeResendConfirmationCodeOperation.swift
  Amplify/Categories/Auth/Operation/UserOperations/AuthConfirmUserAttributeOperation.swift
  Amplify/Categories/Auth/Operation/UserOperations/AuthFetchUserAttributeOperation.swift
  Amplify/Categories/Auth/Operation/UserOperations/AuthUpdateUserAttributeOperation.swift
  Amplify/Categories/Auth/Operation/UserOperations/AuthUpdateUserAttributesOperation.swift
  Amplify/Categories/Auth/Request/AuthSignOutRequest.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/HubEvents/AuthHubEventHandler.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/AWSAuthConfirmResetPasswordOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/AWSAuthConfirmSignInOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/AWSAuthConfirmSignUpOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/AWSAuthFetchDevicesOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/AWSAuthFetchSessionOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/AWSAuthForgetDeviceOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/AWSAuthRememberDeviceOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/AWSAuthResendSignUpCodeOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/AWSAuthResetPasswordOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/AWSAuthSignInOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/AWSAuthSignOutOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/AWSAuthSignUpOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/AWSAuthSocialWebUISignInOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/AWSAuthWebUISignInOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/UserOperations/AWSAuthAttributeResendConfirmationCodeOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/UserOperations/AWSAuthChangePasswordOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/UserOperations/AWSAuthConfirmUserAttributeOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/UserOperations/AWSAuthFetchUserAttributeOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/UserOperations/AWSAuthUpdateUserAttributeOperation.swift
  AmplifyPlugins/Auth/AWSAuthPlugin/Operations/UserOperations/AWSAuthUpdateUserAttributesOperation.swift
  AmplifyPlugins/Auth/AWSAuthPluginIntegrationTests/AuthSessionTests/SignedOutAuthSessionTests.swift
  AmplifyPlugins/Auth/AWSAuthPluginTests/HubEventTests/AuthHubEventHandlerTests.swift
  AmplifyTestCommon/Mocks/MockAuthCategoryPlugin.swift
Labels: Auth

#470 refactor(API): move the model-based functions to helpers
  Amplify.xcodeproj/project.pbxproj
  Amplify/Categories/API/ClientBehavior/APICategoryGraphQLBehavior.swift
  Amplify/Categories/API/ClientBehavior/AmplifyAPICategory+GraphQLBehavior.swift
  AmplifyPlugins/API/APICategoryPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/API/AWSAPICategoryPlugin/AWSAPIPlugin+GraphQLModelBehavior.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/AnyModelIntegrationTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginFunctionalTests/GraphQLModelBased/GraphQLModelBasedTests.swift
  AmplifyPlugins/Core/AWSPluginsCore/Model/GraphQLRequest/GraphQLRequest+AnyModelWithSync.swift
  AmplifyPlugins/Core/AWSPluginsCore/Model/GraphQLRequest/GraphQLRequest+Model.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLRequest/GraphQLRequestModelTests.swift
  AmplifyTestCommon/Mocks/MockAPICategoryPlugin.swift
  Podfile.lock
  Pods/Manifest.lock
Labels: API

#455 feat(Auth): Implementation of getCurrentUser api
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/AWSCognitoAuthPlugin.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/ClientBehavior/AWSCognitoAuthPlugin+ClientBehavior.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/ClientBehavior/AWSCognitoAuthPlugin+UserBehavior.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Dependency/AuthenticationProviderAdapter.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Dependency/AuthenticationProviderBehavior.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Models/AWSAuthUser.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Service/AWSMobileClient/AWSMobileClientAdapter.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Service/AWSMobileClient/AWSMobileClientBehavior.swift
  Podfile.lock
  Pods/Manifest.lock
Labels: Auth

#316 add support for Date, DateTime and Time for DataStore
  Amplify.xcodeproj/project.pbxproj
  Amplify/Categories/DataStore/Model/Model+DateFormatting.swift
  Amplify/Categories/DataStore/Model/Persistable.swift
  Amplify/Categories/DataStore/Model/Schema/ModelSchema+Definition.swift
  Amplify/Categories/DataStore/Model/Temporal/DataStoreError+Temporal.swift
  Amplify/Categories/DataStore/Model/Temporal/Date+Operation.swift
  Amplify/Categories/DataStore/Model/Temporal/Date.swift
  Amplify/Categories/DataStore/Model/Temporal/DateTime.swift
  Amplify/Categories/DataStore/Model/Temporal/README.md
  Amplify/Categories/DataStore/Model/Temporal/Temporal+Codable.swift
  Amplify/Categories/DataStore/Model/Temporal/Temporal+Comparable.swift
  Amplify/Categories/DataStore/Model/Temporal/Temporal+Hashable.swift
  Amplify/Categories/DataStore/Model/Temporal/Temporal.swift
  Amplify/Categories/DataStore/Model/Temporal/TemporalFormat+Date.swift
  Amplify/Categories/DataStore/Model/Temporal/TemporalFormat+DateTime.swift
  Amplify/Categories/DataStore/Model/Temporal/TemporalFormat+Time.swift
  Amplify/Categories/DataStore/Model/Temporal/TemporalFormat.swift
  Amplify/Categories/DataStore/Model/Temporal/TemporalOperation.swift
  Amplify/Categories/DataStore/Model/Temporal/Time+Operation.swift
  Amplify/Categories/DataStore/Model/Temporal/Time.swift
  Amplify/Categories/DataStore/Subscribe/MutationEvent.swift
  AmplifyPlugins/Core/AWSPluginsCore/Model/Support/Model+GraphQL.swift
  AmplifyPlugins/Core/AWSPluginsCore/Model/Support/QueryPredicate+GraphQL.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/SQLite/ModelValueConverter+SQLite.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/DataStoreEndToEndTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/SubscriptionEndToEndTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Core/CodableDateFormatTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Core/ListTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Core/SQLStatementTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Core/SQLiteStorageEngineAdapterTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Core/StorageAdapterMutationSyncTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Models/ExampleWithEveryType.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Models/SQLModelValueConverterTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/LocalSubscriptionTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/MutationQueue/AWSMutationDatabaseAdapterTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/MutationQueue/AWSMutationEventIngesterTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/MutationQueue/MutationIngesterConflictResolutionTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/MutationQueue/OutgoingMutationQueueTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/MutationQueue/OutgoingMutationQueueTestsWithMockStateMachine.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/MutationQueue/ProcessMutationErrorFromCloudOperationTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/MutationQueue/SyncMutationToCloudOperationTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/ReconcileAndLocalSaveOperationTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/RemoteSyncReconcilerTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/TestSupport/SyncEngineTestBase.swift
  AmplifyPlugins/DataStore/Podfile
  AmplifyTestCommon/Mocks/MockDataStoreCategoryPlugin.swift
  AmplifyTestCommon/Models/Comment.swift
  AmplifyTestCommon/Models/Post.swift
  AmplifyTests/CategoryTests/DataStore/ModelRegistryTests.swift
  AmplifyTests/CategoryTests/DataStore/TemporalComparableTests.swift
  AmplifyTests/CategoryTests/DataStore/TemporalOperationTests.swift
  AmplifyTests/CategoryTests/DataStore/TemporalTests.swift
  AmplifyTests/CoreTests/Model+CodableTests.swift
Labels: DataStore

#475 feat(Core): bootstrap Auth configuration before other categories, and fixed analytics integration tests
  .gitignore
  Amplify/Core/Category/CategoryType.swift
  Amplify/Core/Configuration/AmplifyConfiguration.swift
  AmplifyPlugins/Analytics/AWSPinpointAnalyticsPluginIntegrationTests/AWSPinpointAnalyticsPluginIntegrationTests.swift
  AmplifyPlugins/Analytics/AWSPinpointAnalyticsPluginIntegrationTests/Info.plist
  AmplifyPlugins/Analytics/AWSPinpointAnalyticsPluginIntegrationTests/README.md
  AmplifyPlugins/Analytics/AnalyticsCategoryPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/Analytics/AnalyticsCategoryPlugin.xcodeproj/xcshareddata/xcschemes/AWSPinpointAnalyticsPluginIntegrationTests.xcscheme
  AmplifyPlugins/Analytics/AnalyticsCategoryPlugin.xcodeproj/xcshareddata/xcschemes/HostApp.xcscheme
  AmplifyPlugins/Analytics/HostApp/Configuration/amplifyconfiguration.json
  AmplifyPlugins/Analytics/Podfile
Labels: Analytics

#482 test(Auth): Integration test for user operations
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Dependency/AuthUserServiceAdapter.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Operations/AWSAuthConfirmSignInOperation.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Operations/AWSAuthFetchDevicesOperation.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Operations/AWSAuthFetchSessionOperation.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Operations/AWSAuthForgetDeviceOperation.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Operations/AWSAuthRememberDeviceOperation.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Operations/AWSAuthSignOutOperation.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Operations/AWSAuthSocialWebUISignInOperation.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Operations/AWSAuthWebUISignInOperation.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Operations/UserOperations/AWSAuthAttributeResendConfirmationCodeOperation.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Operations/UserOperations/AWSAuthChangePasswordOperation.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Operations/UserOperations/AWSAuthConfirmUserAttributeOperation.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Operations/UserOperations/AWSAuthFetchUserAttributeOperation.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Operations/UserOperations/AWSAuthUpdateUserAttributeOperation.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Operations/UserOperations/AWSAuthUpdateUserAttributesOperation.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Support/Constants/AuthPluginErrorConstants.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginIntegrationTests/AuthDeviceTests/AuthDeviceOperationTests.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginIntegrationTests/AuthUserTests/AuthUserTests.swift
Labels: Auth

#490 fix(tools): add npx to amplify-app and fix typo - fixes #486
  AmplifyTools/amplify-tools.sh
Labels: DataStore

#491 fix(datastore): query predicate API and integration tests fixes #487
  Amplify/Categories/DataStore/DataStoreCategory+Behavior.swift
  Amplify/Categories/DataStore/DataStoreCategoryBehavior.swift
  Amplify/Categories/DataStore/Model/Collection/List+LazyLoad.swift
  Amplify/Core/Category/CategoryType.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLDocument/GraphQLCreateMutationTests.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLDocument/GraphQLDeleteMutationTests.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLDocument/GraphQLUpdateMutationTests.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLRequest/GraphQLRequestAnyModelWithSyncTests.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLRequest/GraphQLRequestAuthRuleTests.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLRequest/GraphQLRequestModelTests.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/Support/QueryPredicateGraphQLTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/AWSDataStorePlugin+DataStoreBaseBehavior.swift
  AmplifyTestCommon/Mocks/MockDataStoreCategoryPlugin.swift
  AmplifyTestCommon/Models/Blog.swift
  Podfile.lock
  Pods/Manifest.lock
Labels: DataStore

#497 test(Auth): Integration test related to apis for session, signOut
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Support/Utils/AuthErrorHelper.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginIntegrationTests/AuthSessionTests/SignedInAuthSessionTests.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginIntegrationTests/AuthSignOutTests/AuthSignOutTests.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginIntegrationTests/AuthSignUpTests/AuthConfirmSignUpTests.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginIntegrationTests/README.md
  AmplifyPlugins/Auth/AWSCognitoAuthPluginIntegrationTests/Support/AuthSessionHelper.swift
Labels: Auth
