Repository aws-amplify/amplify-swift, pull requests merged in 2020-10, with the labels that each got.

#758 feat(datastore): Dispatch modelSynced, syncQueriesReady events
  Amplify/Categories/DataStore/DataStoreCategory+HubPayloadEventName.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/StorageEngine.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/Events/ModelSyncedEvent.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/InitialSync/InitialSyncOperation.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/InitialSync/InitialSyncOperationEvent.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/InitialSync/InitialSyncOrchestrator.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/InitialSync/ModelSyncedEventEmitter.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/InitialSync/SyncEventEmitter.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/RemoteSyncEngine+IncomingEventReconciliationQueueEvent.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/RemoteSyncEngine.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/AWSIncomingEventReconciliationQueue.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/IncomingEventReconciliationQueue.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/ReconcileAndLocalSave/AWSModelReconciliationQueue.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/ReconcileAndLocalSave/ModelReconciliationQueue.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/ReconcileAndLocalSave/ReconcileAndLocalSaveOperation+Action.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/ReconcileAndLocalSave/ReconcileAndLocalSaveOperation+Resolver.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/ReconcileAndLocalSave/ReconcileAndLocalSaveOperation+State.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/ReconcileAndLocalSave/ReconcileAndLocalSaveOperation.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/ReconcileAndLocalSave/RemoteSyncReconciler.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/DataStoreHubEventsTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/TestSupport/HubEventsIntegrationTestBase.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/InitialSync/InitialSyncOperationTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/InitialSync/InitialSyncOrchestratorTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/InitialSync/SyncEventEmitterTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/AWSIncomingEventReconciliationQueueTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/ReconcileAndLocalSaveOperationTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/RemoteSyncReconcilerTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/Support/EquatableExtensions.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/Support/MockModelReconciliatinQueue.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/TestSupport/Mocks/MockAWSIncomingEventReconciliationQueue.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/TestSupport/Mocks/MockAWSInitialSyncOrchestrator.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/TestSupport/Mocks/NoOpInitialSyncOrchestrator.swift
  AmplifyPlugins/DataStore/DataStoreCategoryPlugin.xcodeproj/project.pbxproj
Labels: datastore

#812 feat(datastore): dispatch ready event
  Amplify/Categories/DataStore/DataStoreCategory+HubPayloadEventName.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/InitialSync/ReadyEventEmitter.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/RemoteSyncEngine.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/InitialSync/ReadyEventEmitterTests.swift
  AmplifyPlugins/DataStore/DataStoreCategoryPlugin.xcodeproj/project.pbxproj
Labels: datastore

#837 fix(api): make sure collections are not in the gql input - fixes #828
  AmplifyPlugins/Core/AWSPluginsCore/Model/Support/Model+GraphQL.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/GraphQLDocument/GraphQLUpdateMutationTests.swift
Labels: api

#795 feat(datastore): DataStore Hub events (#766)
  Amplify/Categories/DataStore/DataStoreCategory+HubPayloadEventName.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Reachability/NetworkReachabilityNotifier.swift
  AmplifyPlugins/API/AWSAPICategoryPluginTests/Reachability/NetworkReachabilityNotifierTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/StorageEngine.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/Events/ModelSyncedEvent.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/Events/NetworkStatusEvent.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/InitialSync/InitialSyncOperation.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/InitialSync/InitialSyncOperationEvent.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/InitialSync/InitialSyncOrchestrator.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/InitialSync/ModelSyncedEventEmitter.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/InitialSync/ReadyEventEmitter.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/InitialSync/SyncEventEmitter.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/RemoteSyncEngine+IncomingEventReconciliationQueueEvent.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/RemoteSyncEngine.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/AWSIncomingEventReconciliationQueue.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/IncomingEventReconciliationQueue.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/ReconcileAndLocalSave/AWSModelReconciliationQueue.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/ReconcileAndLocalSave/ModelReconciliationQueue.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/ReconcileAndLocalSave/ReconcileAndLocalSaveOperation+Action.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/ReconcileAndLocalSave/ReconcileAndLocalSaveOperation+Resolver.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/ReconcileAndLocalSave/ReconcileAndLocalSaveOperation+State.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/ReconcileAndLocalSave/ReconcileAndLocalSaveOperation.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/ReconcileAndLocalSave/RemoteSyncReconciler.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/DataStoreHubEventsTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/TestSupport/HubEventsIntegrationTestBase.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/InitialSync/InitialSyncOperationTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/InitialSync/InitialSyncOrchestratorTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/InitialSync/ReadyEventEmitterTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/InitialSync/SyncEventEmitterTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/RemoteSyncEngineTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/ReconcileAndLocalSaveOperationTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/RemoteSyncReconcilerTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/Support/EquatableExtensions.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Sync/SubscriptionSync/Support/MockModelReconciliatinQueue.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/TestSupport/Mocks/MockAWSIncomingEventReconciliationQueue.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/TestSupport/Mocks/MockAWSInitialSyncOrchestrator.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/TestSupport/Mocks/NoOpInitialSyncOrchestrator.swift
  AmplifyPlugins/DataStore/DataStoreCategoryPlugin.xcodeproj/project.pbxproj
  AmplifyTestCommon/Mocks/MockAPICategoryPlugin.swift
Labels: datastore

#842 fix(API): Support for auth api oidc provider
  Amplify.xcodeproj/project.pbxproj
  Amplify/Categories/API/AuthProvider/APIAuthProviderFactory.swift
  Amplify/Categories/API/ClientBehavior/APICategoryAuthProviderFactoryBehavior.swift
  Amplify/Categories/API/ClientBehavior/APICategoryBehavior.swift
  Amplify/Categories/API/ClientBehavior/AmplifyAPICategory+AuthProviderFactoryBehavior.swift
  AmplifyPlugins/API/APICategoryPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/API/AWSAPICategoryPlugin/AWSAPIPlugin+APIAuthProviderFactoryBehavior.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/AWSAPIPlugin+Configure.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/AWSAPIPlugin+GraphQLBehavior.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/AWSAPIPlugin.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Configuration/AWSAPICategoryPluginConfiguration+EndpointConfig.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Configuration/AWSAPICategoryPluginConfiguration.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Interceptor/RequestInterceptor/AuthTokenProviderWrapper.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Interceptor/SubscriptionInterceptor/OIDCAuthProviderWrapper.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/Operation/AWSGraphQLSubscriptionOperation.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/SubscriptionFactory/AWSSubscriptionConnectionFactory.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/SubscriptionFactory/SubscriptionConnectionFactory.swift
  AmplifyPlugins/API/AWSAPICategoryPluginTests/AWSAPICategoryPluginTestBase.swift
  AmplifyPlugins/API/AWSAPICategoryPluginTests/Mocks/MockSubscription.swift
  AmplifyPlugins/API/AWSAPICategoryPluginTests/Operation/GraphQLSubscribeCombineTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginTests/Operation/GraphQLSubscribeTests.swift
  AmplifyPlugins/API/AWSAPICategoryPluginTests/Operation/OperationTestBase.swift
  AmplifyPlugins/Core/AWSPluginsCore/Auth/AWSAuthService.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/StorageEngine+SyncRequirement.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/AWSIncomingEventReconciliationQueue.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Sync/SubscriptionSync/IncomingAsyncSubscriptionEventPublisher.swift
  AmplifyTestCommon/Mocks/MockAPICategoryPlugin.swift
Labels: api, core

#844 make the developer menu launch ready
  Amplify.xcodeproj/project.pbxproj
  Amplify/Amplify.swift
  Amplify/Categories/DataStore/DataStoreCategory+HubPayloadEventName.swift
  Amplify/Categories/Logging/LoggingCategory.swift
  Amplify/Core/Configuration/Internal/Amplify+Reset.swift
  Amplify/DevMenu/Amplify+DevMenu.swift
  Amplify/DevMenu/AmplifyDevMenu.swift
  Amplify/DevMenu/AmplifyVersionable.swift
  Amplify/DevMenu/Data/DevMenuItem.swift
  Amplify/DevMenu/Data/DevMenuItemType.swift
  Amplify/DevMenu/Data/DeviceInfoHelper.swift
  Amplify/DevMenu/Data/DeviceInfoItem.swift
  Amplify/DevMenu/Data/DeviceInfoItemType.swift
  Amplify/DevMenu/Data/EnvironmentInfoHelper.swift
  Amplify/DevMenu/Data/EnvironmentInfoItem.swift
  Amplify/DevMenu/Data/EnvironmentInfoItemType.swift
  Amplify/DevMenu/Data/InfoItemProvider.swift
  Amplify/DevMenu/Data/IssueInfo.swift
  Amplify/DevMenu/Data/IssueInfoHelper.swift
  Amplify/DevMenu/Data/LogEntryHelper.swift
  Amplify/DevMenu/Data/LogEntryItem.swift
  Amplify/DevMenu/Data/PluginInfoHelper.swift
  Amplify/DevMenu/Data/PluginInfoItem.swift
  Amplify/DevMenu/DevEnvironmentInfo.swift
  Amplify/DevMenu/DevMenuBehavior.swift
  Amplify/DevMenu/DevMenuPresentationContextProvider.swift
  Amplify/DevMenu/DevMenuStringConstants.swift
  Amplify/DevMenu/Logging/PersistentLogWrapper.swift
  Amplify/DevMenu/Logging/PersistentLoggingPlugin.swift
  Amplify/DevMenu/Trigger/LongPressGestureRecognizer.swift
  Amplify/DevMenu/Trigger/TriggerDelegate.swift
  Amplify/DevMenu/Trigger/TriggerRecognizer.swift
  Amplify/DevMenu/View/DetailViewFactory.swift
  Amplify/DevMenu/View/DevMenuList.swift
  Amplify/DevMenu/View/DevMenuRow.swift
  Amplify/DevMenu/View/DeviceInfoDetailView.swift
  Amplify/DevMenu/View/EnvironmentInfoDetailView.swift
  Amplify/DevMenu/View/InfoRow.swift
  Amplify/DevMenu/View/IssueReporter.swift
  Amplify/DevMenu/View/LogEntryRow.swift
  Amplify/DevMenu/View/LogViewer.swift
  AmplifyTestCommon/Mocks/MockDevMenuContextProvider.swift
  AmplifyTests/DevMenuTests/DevMenuExtensionTests.swift
  AmplifyTests/DevMenuTests/GestureRecognizerTests.swift
  AmplifyTests/DevMenuTests/PersistentLogWrapperTests.swift
  AmplifyTests/DevMenuTests/PersistentLoggingPluginTests.swift
  Podfile.lock
Labels: work in progress

#847 fix(Core): use groupClaim in @auth rule for oidc
  Amplify.xcodeproj/project.pbxproj
  AmplifyPlugins/Core/AWSPluginsCore/Model/Decorator/AuthRuleDecorator.swift
  AmplifyPlugins/Core/AWSPluginsCore/Model/Support/AuthRule+Extension.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/Decorator/AuthRuleDecorator/ModelWithOwnerAuthAndGroupWithGroupClaim.swift
  AmplifyPlugins/Core/AWSPluginsCoreTests/Model/Decorator/AuthRuleDecorator/ModelWithOwnerAuthAndMultiGroup.swift
Labels: api, core
