Repository aws-amplify/amplify-swift, pull requests merged in 2020-07, with the labels that each got.

#621 broken link in README.md - fixes #620
  README.md
Labels: documentation

#632 fix(auth): User pool token, user sub should be returned for signedIn user with no identityPool config
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Dependency/AuthorizationProviderAdapter+SignedInSession.swift
  AmplifyPlugins/Auth/Podfile.lock
Labels: auth

#635 fix(auth): Fix an issue that prevents signInWithWebUI to present over a presenting vc
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Dependency/AuthenticationProviderAdapter+SignIn.swift
Labels: auth

#647 fix(Datastore): paginationInput not passed down in query
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPlugin/Storage/SQLite/StorageEngineAdapter+SQLite.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/DataStoreLocalStoreTests.swift
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginIntegrationTests/TestSupport/LocalStoreIntegrationTestBase.swift
  AmplifyPlugins/DataStore/DataStoreCategoryPlugin.xcodeproj/project.pbxproj
Labels: bug, datastore

#642 fix: Plugins that are not configured correctly will be error at initial step
  Amplify/Categories/API/Internal/APICategory+CategoryConfigurable.swift
  Amplify/Categories/Analytics/Internal/AnalyticsCategory+CategoryConfigurable.swift
  Amplify/Categories/Auth/Internal/AuthCategory+CategoryConfigurable.swift
  Amplify/Categories/DataStore/Internal/DataStoreCategory+Configurable.swift
  Amplify/Categories/Hub/Internal/HubCategory+CategoryConfigurable.swift
  Amplify/Categories/Logging/Internal/LoggingCategory+CategoryConfigurable.swift
  Amplify/Categories/Predictions/Internal/PredictionsCategory+CategoryConfigurable.swift
  Amplify/Categories/Storage/Internal/StorageCategory+CategoryConfigurable.swift
  Amplify/Core/Configuration/AmplifyConfiguration.swift
  Amplify/Core/Configuration/Internal/CategoryConfigurable.swift
  AmplifyPlugins/API/AWSAPICategoryPlugin/AWSAPIPlugin+Configure.swift
  AmplifyPlugins/API/AWSAPICategoryPluginTests/AWSAPICategoryPlugin+ConfigureTests.swift
  AmplifyPlugins/API/Podfile.lock
  AmplifyPlugins/Analytics/AWSPinpointAnalyticsPluginTests/AWSPinpointAnalyticsPluginConfigureTests.swift
  AmplifyPlugins/Analytics/Podfile.lock
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Dependency/AuthenticationProviderAdapter+SignIn.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginTests/AWSCognitoAuthPluginConfigTests.swift
  AmplifyPlugins/Auth/Podfile.lock
  AmplifyPlugins/DataStore/AWSDataStoreCategoryPluginTests/Core/ConfigurationTests.swift
  AmplifyPlugins/DataStore/DataStoreCategoryPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/DataStore/Podfile.lock
  AmplifyPlugins/Predictions/AWSPredictionsPluginTests/ConfigurationTests/PredictionsPluginConfigurationTests.swift
  AmplifyPlugins/Predictions/Podfile.lock
  AmplifyPlugins/Storage/AWSS3StoragePluginTests/AWSS3StoragePluginBaseConfigTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginTests/AWSS3StoragePluginConfigureTests.swift
  AmplifyPlugins/Storage/Podfile.lock
Labels: core

#652 fix(storage): delete file if key not found on download
  AmplifyPlugins/Storage/AWSS3StoragePlugin/Service/Storage/AWSS3StorageService+DownloadBehavior.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginFunctionalTests/AWSS3StoragePluginAccessLevelTests.swift
  AmplifyPlugins/Storage/AWSS3StoragePluginFunctionalTests/AWSS3StoragePluginNegativeTests.swift
Labels: storage

#658 fix(auth): missing initializers for AWSAuth*Options
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin.xcodeproj/project.pbxproj
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Models/Options/AWSAuthConfirmResetPasswordOptions.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Models/Options/AWSAuthConfirmSignInOptions.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Models/Options/AWSAuthConfirmSignUpOptions.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Models/Options/AWSAuthResetPasswordOptions.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Models/Options/AWSAuthSignInOptions.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Models/Options/AWSAuthSignUpOptions.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPlugin/Models/Options/AWSAuthWebUISignInOptions.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginIntegrationTests/AuthSignInTests/AuthUsernamePasswordSignInTests.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginIntegrationTests/AuthSignUpTests/AuthConfirmSignUpTests.swift
  AmplifyPlugins/Auth/AWSCognitoAuthPluginIntegrationTests/AuthSignUpTests/AuthSignUpTests.swift
Labels: auth, bug

#683 fix: Update AppSyncRealTimeClient dependency
  AmplifyPlugins.podspec
  AmplifyPlugins/API/Podfile
Labels: api
